body
{
   font-family : sans-serif;
}

#divcanvas
{
   position : absolute;
   
   top : 80px;
   /*left : 260px;*/
   /*width : 100%;
   height : 100%; */
}

#divHeader
{
   position :  absolute;
   left : 0px;
   top : 0px;
   width : 100%;
   height : 80px;
   background-color : #ffffff;
}

#divViewOptions
{
   position :  absolute;
   left : 0px;
   top : 120px;
   width : 260px;
   height : 120px;
   background-color : #ffffff;
}

#divPointCloudOptions
{
   position :  absolute;
   left : 0px;
   top : 270px;
   width : 260px;
   height : 100px;
   background-color : #ffffff;
}

#divRealTimeDataOptions
{
   position :  absolute;
   left : 0px;
   top : 420px;
   width : 260px;
   height : 100px;
   background-color : #ffffff;
}
/*
#divConfigOptions
{
   position :  absolute;
   left : 0px;
   top : 570px;
   width : 140px;
   height : 100px;
   background-color : #ffffff;
}
*/
#divRealTimePcOptions
{
   position :  absolute;
   left : 0px;
   top : 570px;
   width : 260px;
   height : 100px;
   background-color : #ffffff;
}

#divTimeDisplay
{
    background-color: #FFFFFF;
    font-weight: bold;
    height: 10px;
    position: absolute;
    right: -20px;
    width: 100px;
    top: 56px
}

.settingtable
{
   font-size : 10pt;
   padding-left: 10px;
}
.onoffelement {
    padding-left: 10px;
    padding-right:  10px;
}

/* ----- Logos ---------------------------------------------------------------*/
#divLogoArmasuisse{
    background-color: #FFFFFF;
    background-image: url("../art/logos/swiss.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 60px;
    left: 10px;
    position: relative;
    top: 10px;
    width: 200px;
   
}
#divLogoAll{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../art/logos/logos_all.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 43px;
    right: 10px;
    position: absolute;
    top: 4px;
    width: 685px;
    text-align: right;
   
}


  